body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

#speeches {
  border-radius: 10px;
  box-shadow: 5px 5px 10px #a0a0a0;
  overflow: hidden;
}

table {
  width: 100%;
  text-align: center;
  margin: auto;
}

th {
  background-color: red;
  color: rgb(255, 255, 255);
  padding: 10px 10px 10px 10px;
  font-size: 18px;
}

td {
  padding: 15px 10px 15px 10px;
  border-radius: 2px;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  text-align: left;
}

label {
  padding: 15px 0px 0px 0px;
}

input {
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
}

#button {
  padding: 15px 0px 0px 0px;
  width: 100%;
  height: 40px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

#button input {
  background-color: red;
  color: white;
}

#button :hover {
  background-color: darkred;
  color: white;
}