@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&display=swap");

:root {
  --heading-font: "Fredoka", Arial, sans-serif;
  --paragraph-font: "Montserrat", Helvetica, sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    background-color: transparent;
    color: #032E18;
    font-size: 2em;
    margin-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

h4 {
    background-color: transparent;
    color: #032E18;
}

body {
    background-color: #ffffff;
    color: transparent;
    font-family: var(--paragraph-font);
    background-color: #ffffff;
    color: #032E18; 
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: #032E18;
}

header {
    background-color: #95bb83;
    color: transparent;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 140px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    color: #032E18;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #939F5C;
    color: #032E18;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #bceba7;
}

#hero-msg h4 {
    font-size: 20px;
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: #032E18 solid 10px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.carx-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #000000;
}

.book {
    background-color: #939F5C;
    color: #032E18;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #032E18;
    color: #ffffff;
}

.join {
    background-color: #939F5C;
    color: #032E18;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #032E18;
    color: #ffffff;
}

.msg {
    background-color: #939F5C;
    color: transparent;
    line-height: 2em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #000000;
}

.msg h2 {
    background-color: transparent;
    color: #032E18;
}

.msg p {
    background-color: transparent;
    color: #032E18;
    font-size: 2em;
    padding-bottom: 15px;
}

.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #032E18;
    color: transparent;
    grid-column: 1/11;
    grid-row: 4/9;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer {
    background-color: #032E18;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    text-decoration: underline;
}

footer a {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    background-color: transparent;
    color: #939F5C;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}