@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

header {
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: white;
    text-align: center;
}

#logo-background {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgb(74, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: contain;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    gap: 100px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav a {
    background: rgba(136, 0, 0, 0.622);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2em;
    transition: color 0.3s;
    padding: 10px 20px;
}

nav a:hover {
    background: rgba(136, 0, 0, 0.8);
    color: #000000;
}

h1 {
    font-family: Playfair Display, Times New Roman, sans-serif;
}

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px 10px;
}

th {
    border-bottom: 2px solid #950000aa;
    text-align: left;
    font-family: Playfair Display, Times New Roman, sans-serif;
}

td {
    border-bottom: 1px solid #ffb9b9;
}

footer {
    background-color: rgba(136, 0, 0, 0.622);
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 40px;
    font-size: 1em;
}

footer p {
    margin: 5px;
}